.mask {  
    position: fixed; /* 使遮罩层覆盖整个视口 */  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(80, 103, 123, 0.5); /* 使用半透明的黑色作为背景 */  
    z-index: 1000; /* 确保遮罩层位于其他内容之上 */  
  }  

.mask .add_wrapper {  
    position: absolute;  
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    top: 50%; /* 从顶部偏移50% */  
    left: 50%; /* 从左侧偏移50% */  
    transform: translate(-50%, -50%); /* 使用transform属性将元素向左和向上移动50%的宽度和高度，从而实现居中 */  
    background-color: white; /* 例如，白色背景 */  
    border-color: rgb(82, 155, 220);
    border-width: 2px;
    overflow: hidden;  
  } 

.add_wrapper .title{
    height: 50px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 100%;
    text-align: left;
    line-height: 50px;
    font-size: large;
    padding-left:20px;
    border-bottom: 1px #353e4b;
}

.inputForm{
    height: 100%;
    width: 100%;
    padding: 5vw 5vw 0vw 5vw;
}

.confirm{
    margin-right: 1vw;
}

.align-right{
    margin-top: 10vh;
    display: flex;  
    justify-content: flex-end;  
}
