*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wi{
    height: 92vh;
    position:absolute;
    top:8vh;
    
}

.frame{
    background-color:white;
    width: 15vw;
    height: 100%;
    padding: 10px;
}

.frame ul {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.frame ul li{
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top:2px;
    font-size:larger;
}

.frame ul li a .now{

    background-color: rgb(230,244,255);
    color:rgb(42,131,255);
}
.frame ul li a{
    line-height: 40px;
    display: block;
    cursor: pointer;
    transition: all .3s;
}
.frame a:hover{
    background-color: rgb(240,240,240);
    border-radius: 10%;
    border-style: solid;
}