*{
    margin: 0;
    padding: 0;
}
.wi{
    height: 92vh;
    position:absolute;
    top:8vh;
}
.menu_all{
    height: 8vh;
    width: 100vw;
    font-size: larger;
    text-align: left;
    line-height: 8vh;
    padding-left: 30px;
    background-color:aliceblue;
    border-style: solid;
    border-width: 2px;
}
